@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap&family=Saira+Stencil+One&display=swap");

$font-1: "Nova Round", cursive;
$font-2: "Dosis", sans-serif;
$font-3: "Josefin Sans", serif;
$font-4: "saira Stencil One", cursive;

$color-1: #2a1d52;
$color-2: #6c77f4;
$color-3: rgb(99, 164, 233);
$color-4: #869b4b;
$color-5: #36d0ea;
$white: #ddd;
$black: #333;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;
html {
  background: linear-gradient(335deg, #246066, #542466, #96c31b, #c37d1b);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 56%;
  }
  50% {
    background-position: 100% 45%;
  }
  100% {
    background-position: 0% 56%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 56%;
  }
  50% {
    background-position: 100% 45%;
  }
  100% {
    background-position: 0% 56%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 56%;
  }
  50% {
    background-position: 100% 45%;
  }
  100% {
    background-position: 0% 56%;
  }
}
@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  overflow: scroll;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  margin: 1rem auto;
  max-width: 1200px;
  font-family: $font-1;
  color: $black;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}
a:visited {
  color: $black;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
.home,
.knowledges,
.portfolio,
.contact {
  display: flex;

  @media screen and (max-width: 850px) {
    display: block !important;
  }
}
.homeContent,
.knwoledgesContent,
.portfolioContent,
.contactContent {
  margin-left: 0.4rem;
  @media screen and (max-width: 850px) {
    margin-left: 0 !important;
  }
}
